body {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}

footer p{
    text-align: center;
    margin: 0 auto;
}

/*about-p aligns the paragraph sections in the about page so that they are left justified but still centered in the page.*/

.about-p {
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
    width: 800px;

}

/*Wanted the contact info to be in the center and be left justified but moved over just a little bit so it was still in the center*/

.contact-info{
    margin: 0 auto;
    width: 25%;
}


p {
    text-align: left;
    font-size: 20px;
}

/*This is the formatting for the buttons in the navigation bar*/
button {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 20px;

    margin: 0 auto;
    width:19.5%;
    padding-top:40px;
    padding-bottom: 40px;
    
    border: 0;

}



/*making the different backgrounds match the colors of the buttons*/

.tutoring, #index{
    background-color: #C7E6EF;
    color: #2E2524;
}

.about, #about{
    background-color: #B1BEE7;
    color: #2E2524;
}
 .publications, #publications{
    background-color: #212E6E;
    color: #C7E6EF

}
.testimonials, #testimonials{
    background-color: #F0C9B9;
    color: #2E2524;

}

.contact, #contact {
    background-color: #DCB7B4;
    color: #253041
}

/*all the gallery objects are for the design of the images on the publications page */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .gallery img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }


/*quote box formatting for the testimonials page*/
.quote-boxes {
    box-sizing:border-box;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.box {
    box-sizing:border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    transition: all 0.5s ease;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    z-index: 0;

}
.active {
    box-sizing:border-box;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    z-index:3;
    box-shadow: 0 4px 20px black;
}

.previous {
    box-sizing:border-box;
    opacity: 0.6;
    transform: translate(-150%, -50%) scale(0.8);
    box-shadow: 0 4px 10px black;
    z-index: 2;
}
.next {
    box-sizing:border-box;
    opacity: 0.6;
    transform: translate(50%, -50%) scale(0.8);
    box-shadow: 0 4px 10px black;
    z-index: 2;

} 

/*this removes the quote boxes that are not currently shown in the slideshow*/

.box:not(.active):not(.next):not(.previous) {
    display: none;
}


.box p {
    box-sizing:border-box;
    padding-top: 20px;
}


/*Making the quote boxes different alternating colors*/
.box-1 {
    background-color: #212E6E;
    color: #F0C9B9;

}
.box-2 {
    background-color: #462255;
    color: #C7E6EF

}
.box-3 {
    background-color: #B55B4E;
    color: #B1BEE7;

}
.box-4 {
    background-color: #B1BEE7;
    color: #2E2524;

}

.slideshow-button {
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    padding: 15px;
}

footer {
    padding-top: 30px;
}

/*Changing the colors of the links for the page*/

a {
    color: #823329;

}

a:visited {
    color: #5D251D
}


.publications a{
    color: #D38073
}

.publications a:visited {
    color: #C96454
}


/*Formatting and spacing for the contact page and the form on that page*/
.services {
    width: 700px;
    margin: 0 auto;

}

label, .submit-button{
    display: block;
    
}
.submit-button{
    padding:4px;

}

input {
    box-sizing:border-box;  
    display: block;
    padding: 10px;
    font-size: 15px;
    background-color: #F0C9B9;
    color: #253041;
    margin-bottom: 30px;
    width: 300px;
    margin: 0 auto;
}


.submit {
    margin-top:30px;
}
 input::placeholder {
    color: #9d8686;

}

/*All the formatting for the services dropdown options on the services page*/

.inactive {
    display: none;
}

.service {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-size: 20px;
}

.service:not(.inactive) {
    max-height: 500px;
}

.dropdown {
    box-sizing:border-box;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 5px;
    background: transparent;
    width: 100%;
    padding: 20px;

}
