body{
    text-align:center;
    color:#2E2532;
    background-color:#C1CEFE;
    font-family: Palatino, URW Palladio L, serif;
}

/*a{
    color:#C52184
}
a:visited{
    color:#6C0F2E
}
*/
ul{
    text-align:left;
}

