
/*
background blue : #C1CEFE
dark purple: #301A4B
pink link boxes: #E1B7CE
reddish pink: #AB4967
Blue:#0F5257
light blue: #15737A;

*/
body{
    padding:20px;
    text-align:center;
    color:#301A4B;
    background-color:#C1CEFE;
    font-family: Palatino, URW Palladio L, serif;
    font-size: x-large;
}

ul{
    padding-left: 10%;
    padding-right: 10%;
    justify-content: left;
    text-align:left;
}
li{
    padding-bottom: 15px;
}


.evalutaion_list{
    
    font-size: large;
    padding-left: 25%;
    padding-right:25%;
    justify-content: left;
    list-style-position: outside;
    list-style: none;
}
.crap_list {

    padding-bottom:15px;
    text-align: left;
    display:inline-block;
    justify-content: left;
}
.c::before, .r::before, .a::before, .p::before{
    padding-right:10px;
    font-weight:bolder;
}

.c::before{
    content:"Contrast-";
}
.r::before{
    content:"Repitition-";
}
.a::before{
    content:"Alignment-";
}
.p::before{
    content:"Proximity-";
}
.good_bad{
    padding-left: 50px;
    padding-right:50px;
    padding-top:15px
}




footer{
    font-size: medium;
}

.main-links{
    color:#15737A;

}
.main-links:hover, .main-links:active{
    font-size: larger;

}
.main-links:hover, .main-links:active, .main-links:visited{
    color:#0F5257

}

a{
    color:#15737A;
}
a:visited, a:active, a:hover{
    color:#0F5257
}


header .button, footer .button{
    display: inline-block;
    padding: 3px 6px;
    background-color: #301A4B;
    color: #E1B7CE;
    border-radius: 5px;
    text-decoration: none;

    margin: 5px;
    font-size:15px
}

header .button:hover, footer .button:hover{
    display: inline-block;
    padding: 9px 12px;
    background-color: #E1B7CE;
    color: #301A4B;
    border-radius: 5px;
    text-decoration: none;

    margin: 5px;

}