body{
    text-align:center;
    color:#301A4B;
    background-color:#C1CEFE;
    font-family: Palatino, URW Palladio L, serif;
    font-size: x-large;
}

ul{
    text-align:left;
}

footer{
    font-size: medium;
}
