

main { 
    margin: 0 auto; 
    width:50%;
    max-width: 1400px;
}

body{
    padding:20px;
    text-align:center;
    color:#301A4B;
    background-color:#C1CEFE;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 30px;
}

ul{
    padding-left: 15%;
    padding-right: 10%;
    justify-content: left;
    text-align:left;
    font-size: 18px;
}
li{
    padding: 5px;
    
}
/*
html{
    background-color: #C1CEFE;
    color: #301A4B;
    font-family: Palatino, URW Palladio L, serif;
    margin: 0 auto;

}
body{
    margin: 0 auto;
    width:90%;
    max-width: 1400px;
}
    */

input:not([type="checkbox"]), label:not(.agree-label){
    margin: 0 auto;
    text-align: center;
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 20px;
}

textarea {
    margin-left:40px;
}

label:not(.agree-label){
    padding-bottom: 20px;
    padding-top:20px;
}
input:not([type="checkbox"]){
    padding: 10px;
}

input[type="file"] {
    display: block;

    margin: 5px auto;
    padding-left: 200px
}

input[type="submit"] {
    color:#E1B7CE;
    background-color: #301A4B;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 15px;
    width: 25%;
}
input[type="reset"] {
    color:#E1B7CE;
    background-color: #301A4B;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 15px;
    width: 25%;
}


.agree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 60%;
    text-align: center;
}

.agree-label {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.agree-button {
    display: block;
    margin: 0 auto;
}

.formDataContainer p {
    padding: 10px;
    text-align: left;
    width: 50%;
    margin: 0 auto;

}

figcaption{
    font-size:12px
}


img{
    width: 450px;
    height: 600px;
}