html{   
    font-family: Optima, sans-serif;
    background-color:#E1B7CE;
}

header{
    text-align: center;
    font-size: x-large;
    border-width: 5px #301A4B;
    background-color: #301A4B;
    color:#E1B7CE;
    border-radius: 10px;
    padding: 40px;
    margin: 50px;
    

}
header a{
    padding:20px;
    font-size:large;
    color:#5C8F99;
}
header a:visited{
    color:#49727A;
}

/*footer a{
    color:#5C8F99;
}
footer a:visited{
    color:#49727A;
}
    */

main{
    color:#301A4B;
    font-size: larger;
    padding-top:10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align:center;
}

footer{
    color:#301A4B;
    font-size: medium;
    padding-top:10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align:center;
}

/*a{
    color:#49727A

}
a:visited{
    color:#2E474D
}
    */