html{   
    font-family: Optima, sans-serif;
    background-color:#E1B7CE;
}

header{
    text-align: center;
    font-size: x-large;
    border-width: 5px #301A4B;
    background-color: #301A4B;
    color:hsl(285, 47%, 72%);
    border-radius: 10px;
    padding: 40px;
    margin: 50px;
    

}
header a{
    padding:20px;
    font-size:large;
    color:#F39A9D;
}
header a:visited{
    color:#EE6D71
}

main{
    color:#301A4B;
    font-size: larger;
    padding-top:10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align:center;
}