<a href="https://webpages.charlotte.edu/kgoliber/" target = "_blank" class = "button">Charlotte Webpage</a>
<a href="https://github.com/kialeygoliber/kialeygoliber.github.io" target = "_blank" class="button">Github Repo</a>
<a href="https://kialeygoliber.github.io/" target = "_blank" class="button"> Github.io</a>
<a href="https://kialeygoliber.github.io/itis3135/" target = "_blank" class="button">itis3135.io</a>
<a href="https://www.freecodecamp.org/kialeygoliber" target = "_blank" class="button">freeCodeCamp</a>
<a href="https://www.codecademy.com/profiles/kialeygoliber" target = "_blank" class="button">CodeAcademy</a>
<a href="https://www.linkedin.com/in/kialey-goliber-178221327/" target = "_blank" class="button">LinkedIn</a><br>

<style>
    .button{
        display: inline-block;
        padding: 5px 10px;
        background-color: #301A4B;
        color: #E1B7CE;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;

    }
    .button:hover{
        display: inline-block;
        padding: 10px 20px;
        background-color: #E1B7CE;
        color: #301A4B;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;

    }
</style>