
<a href="./" class="button" > Home </a>
<a href="introduction.html" class="button"> Introduction </a>
<a href="contract.html" class="button"> Contract </a>
<a href="kaleidoscopic_giraffe/index.html" target = "_blank" class="button"> Kaleidoscopic Giraffe </a>
<a href="kialeydigital.com/index.html" target = "_blank" class="button"> Kialey Digital Solutions </a>
<style>
    .button{
        display: inline-block;
        padding: 5px 10px;
        background-color: #301A4B;
        color: #E1B7CE;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;
        font-size:15px

    }
    .button:hover{
        display: inline-block;
        padding: 10px 20px;
        background-color: #E1B7CE;
        color: #301A4B;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin: 5px;

    }
</style>