
<a href="/itis3135/index.html" class="button" > Home </a>
<a href="/itis3135/introduction.html" class="button"> Introduction </a>
<a href="/itis3135/contract.html" class="button"> Contract </a> <br>

<style>
    .button{
        display: inline-block;
        padding: 3px 6px;
        background-color: #301A4B;
        color: #E1B7CE;
        border-radius: 5px;
        text-decoration: none;

        margin: 5px;
        font-size:15px

    }
    .button:hover{
        display: inline-block;
        padding: 9px 12px;
        background-color: #E1B7CE;
        color: #301A4B;
        border-radius: 5px;
        text-decoration: none;

        margin: 5px;

    }
</style>