<nav>
    <a href="index.html" class="button" > Home </a>
    <a href="introduction.html" class="button"> Introduction </a>
    <a href="contract.html" class="button"> Contract </a> <br>
</nav>

<nav>
    
    <a href="kaleidoscopic_giraffe/index.html" target = "_blank" class="button"> Kaleidoscopic Giraffe </a>
    <a href="kialeydigital.com/index.html" target = "_blank" class="button"> Kialey Digital Solutions </a>
    <a href="website_evaluations.html" target="_blank" class="button">CRAP Website Evaluations</a>
    <a href="really%20bad!!WEBPAGE@.htm" target="_blank" class="button">Terrible Website</a>

</nav>

<style>
    .button{
        display: inline-block;
        padding: 3px 6px;
        background-color: #301A4B;
        color: #E1B7CE;
        border-radius: 5px;
        text-decoration: none;

        margin: 5px;
        font-size:15px

    }
    .button:hover{
        display: inline-block;
        padding: 9px 12px;
        background-color: #E1B7CE;
        color: #301A4B;
        border-radius: 5px;
        text-decoration: none;

        margin: 5px;

    }
</style>